@import './_variables.scss';

.bottom-menu {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;


    ul {
        list-style: none;
    }
}

.software-icon {
    width: 80px;
    height: 80px;
    background: linear-gradient(45deg,
            $mid-blue 0%,
            $light-blue 60%);

    &:hover {
        cursor: pointer;
    }
}

.software-list {
    position: absolute;
    top: -75px;

    li {
        background: linear-gradient(45deg,
                $mid-blue 0%,
                $dark-blue 60%);
        padding: .2rem 1rem;
        margin: 0.2rem 0;

        &:hover {
            cursor: pointer;
        }
    }
}

.message-icon {
    width: 40px;
    height: 40px;
    background: linear-gradient(45deg,
            $mid-blue 0%,
            $light-blue 60%);
}

.trace-tracker {
    position: fixed;
    bottom: .2rem;
    right: .4rem;
    color: #fff;

    text-align: center;

    h3 {
        margin: 0;
    }
}