.map-container {
    background-image: url('/Users/cocomittens/Documents/1337/frontend/src/assets/map-background.png');
    width: 80vw;
    height: 80vh;
    background-size: cover;
    background-position: center;
}