@import "./_variables.scss";

$table-stripe: rgba(40, 40, 40, 0.5);

body {
  background: $primary-bg;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.missions-container {
  background: $primary-bg;
  padding: 1rem;
  border-radius: 0.5rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 40vw;

  h2 {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
    color: #fff;
  }

  table {
    width: 100%;
    border-collapse: separate;

    thead {
      tr {
        background: linear-gradient(45deg, $mid-blue 0%, $dark-blue 60%);
      }

      th {
        padding: 0.5rem;
        text-align: left;
        color: #fff;
        margin-left: 1vw;
      }
    }

    tbody {
      tr {
        &:nth-child(even) {
          background: $table-stripe;
        }

        &:hover {
          cursor: pointer;
        }
      }

      td {
        padding: 0.5rem;
        border-bottom: 1px solid darken($primary-bg, 20%);
        color: #fff;
      }
    }
  }
}

button {
  margin-top: 1vh;
  border-radius: 0;
  width: 40%;
  background: linear-gradient(45deg, $mid-blue 0%, $dark-blue 60%);
  color: #fff;
  padding: 0.5rem;
  font-weight: bold;

  &.disabled {
    background: linear-gradient(45deg, $mid-gray 0%, $dark-gray 60%);
    color: #fff;
  }
}

.description-container {
  background: linear-gradient(
    45deg,
    $mid-blue 0%,
    $dark-blue 60%,
    $primary-bg 100%
  );
  border: 1px solid $light-blue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 1vw;
  padding-right: 2vw;
  padding-bottom: 5vh;
  min-height: 10vh;
}

.details-container {
  background-color: $mid-blue;
  height: 600px;
  width: 400px;
  position: fixed;
  top: 100px;
  right: 8px;
  .mission-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 92%;
    column-gap: 8px;
  }

  .header {
    text-align: center;
    font-weight: bold;
  }
  .small-field {
    background-color: $dark-blue;
    padding: 1% 0;
    width: 100%;
  }
  .large-field {
    background-color: $dark-blue;
    min-height: 70%;
    overflow: auto;
    padding: 1% 0;
  }
  .action-buttons {
    position: absolute;
    left: -2%;
    right: 0;
    bottom: 0;
    display: flex;
    height: 8%;
    align-items: center;

    .button {
      background-color: $dark-blue;
      flex: 1 1 33.3333%;
      text-align: center;
      height: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
